
body{
    font-family: 'Mulish', sans-serif;
    position: relative;
}


/* _______________________Pre Loading_________________________ */
.loading-overlay{
    background:#fff;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 99999;
}


.loading{
        width: 150px;
        height: 150px;
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}




/* _______________________Nav Section_________________________ */
.lines1,.lines2,.lines3{
    width: 23px;
    height: 3px;
    margin: 5px;

    transition: all 0.4s;
}


.changes .lines1{
transform: rotate(-45deg) translate(-5px,6px );
}

.changes .lines2{
    opacity: 0;
}

.changes .lines3{
    transform: rotate(45deg) translate(-5px,-6px );
}   


/* #navbar{
    background: rgba(0,0,0, 0.8);
} */

.navbar-paddings{
    padding: 30px 100px;
    background: rgba(0,0,0, 0.8);

    transition: all 0.5s ease-in-out;
}

.navbar-paddings.active{
    padding: 15px 100px;
    background: #5e3701;
}


.brand-icons,
.brands{
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}


.navlinks{
    font-size: 23px;
    padding: 0 10px !important;
    font-weight: 300;
    color: #fff;
}



.nav-link:active,
.nav-link:link{
    color: #fff;
}






.navlinks:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}

/* _______________________Header Section_________________________ */

#header{
    width: 100%;
    height: 100vh;
}


header{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.8)
    ) ,url(../img/home-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    position: relative;
}


.hero-text-box{
    color: #fff;
    text-align: left;
}


.hero-text-box p{
    font-family: 'Raleway',sans-serif;
    font-size: 28px;
    font-weight: 300;
}

.hero-text-box h3{
    font-weight: 400;
    font-size: 65px;
}


.hero-text-box button{
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    border: 1px solid #fff;
    margin-top: 35px;
    padding: 14px 28px;

    transition: all 0.4s linear;
}


.hero-text-box button:focus{
    outline: 0;
}

.hero-text-box button:hover{
    background: #a66102;
}

/* _______________________About Section_________________________ */
.about-second h3{
    font-weight: 300;
    padding: 10px 0;
}

.about-second h2{
    padding: 10px 0;
}


.about-second p{
    font-size: 19px;
    font-weight: 300;
    line-height: 35px;
}


.about-second button{
    border: 0;
    background: transparent;
    color:  #5e3701;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid #000;
    margin:20px 0;
    padding: 11px 28px;
    transition: all 0.4s linear;

    transition: all 0.4s linear;
}



.about-second button:focus{
    outline: 0;
}


.about-second button:hover{
    background: #5e3701;
    color: #fff;
    border-color: #5e3701;
}


#about-icon-section{
    margin: 15px 0;
    padding: 0;
}


.first-icon-about{
    background: #ebe5e5;
    text-align: center;
    padding: 10px 0;
}

.first-icon-about i{
    color: #5e3701;
    font-size: 40px;
}

.first-icon-about p{
    margin: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 500;
}





/* _______________________Menu Section_________________________ */
#menu-section{
    background: #f4f4f4;
}

.menu-img{
    width: 150px;
    height: auto;
}


.menu-item{
    padding: 20px 0;
    border-radius: 6px;

    transition: all 0.4s linear;
}

.menu-item h5{
    padding:20px 0 15px 0;
}


.menu-item p{
    font-weight: 200;
    padding: 2px 0 8px 0;
}


.menu-item button{
    border: 0;
    background: transparent;
    color:  #5e3701;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid #000;
    margin:20px 0;
    padding: 11px 28px;
    transition: all 0.4s linear;

}



.menu-item button:focus{
    outline: 0;
}


.menu-item button:hover{
    background: #5e3701;
    color: #fff;
    border-color: #5e3701;
}


.menu-item:hover{
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

/* _______________________Gallery Section_________________________ */
.gallery-item a{
    border: 0;
    background: transparent;
    color:  #5e3701;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid #000;
    display: inline-block;
    margin-top: 10px;
    padding: 11px 28px;
    transition: all 0.4s linear;
    text-decoration: none;
}



.gallery-item a:focus{
    outline: 0;
}


.gallery-item a:hover{
    background: #5e3701;
    color: #fff;
    border-color: #5e3701;
}


.gallery-item{
    position: relative;
    overflow: hidden;
}


.gallery-img-container{
    width: 100%;
    height: 100%;
}


.gallery-img{
    width: 100%;
    height: 250px;
    object-fit: cover;

    transform: translateY(0);
    transition: all 0.4s linear;
}



.gallery-content{
    width: 100%;
    height: 100%;
    padding: 20px 0;

    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
    background: #fff;

    transform: translateY(100%);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */

    transition: all 0.4s linear;
}

.gallery-content h5{
    margin-top: 5px;
}

.gallery-content p{
    font-weight: 300;
    line-height:35px;
}


.gallery-item:hover .gallery-img{
    transform: translateY(-100%);
}


.gallery-item:hover .gallery-content{
    transform: translateY(0px);
}


/* _______________________Customer Section_________________________ */
#customer-section{
    background:#d7d9d7;
}

.customer-item{
    padding: 25px 20px;
    margin-bottom: 8px;
    border-radius: 6px;
    text-align: center !important;

    transition: all 0.4s linear;
}



.customer-item img{
    text-align: center !important;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    display: inline-block !important;
    object-fit: cover;
}

.customer-item h4{
    padding: 15px 0 10px 0;
}


.customer-item p{
    font-family: 'Raleway',sans-serif;
    font-weight: 300;
    line-height: 35px;
}


.customer-item i{
    color: #5e3701;
}

.customer-item:hover{
    background: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}


#customer-second .owl-nav [class *= "owl-"]{
    font-size: 35px !important;
}


#customer-second .owl-dots [class *= "owl-"]{
    font-size: 25px !important;
    color: #fff !important;
}



/* _______________________Contact Section_________________________ */
.contact-info h3{
    padding: 0 20px;
}

.contact-item{
    border: 1px solid #5e3701;
    padding: 35px 10px;
    height: 260px;
    cursor: pointer;
    margin-bottom: 10px;
}

.contact-icon i{
    font-size: 25px;
    color: #5e3701;

    transition: all 0.4s linear;
}

.contact-icon{
    display: inline-block;
    border: 1px solid #5e3701;
    padding: 15px 20px;
    margin-bottom: 20px ;

    transition: all 0.4s linear;
}


.contact-item p{
    margin: 0;
    line-height: 35px;
}


.contact-item:hover .contact-icon{
    background: #5e3701;
}

.contact-item:hover .contact-icon i{
    color: #fff;
}

.contact-input-item{
    margin: 20px;
}

.contact-input{
    width: 100%;
    padding: 15px 10px;
    font-size: 18px;
    transition: all 0.4s linear;
}

.contact-input-item textarea{
    padding:5px 10px 65px 10px;
}

.contact-input:focus{
    outline: 0;
}



.contact-info button{
    border: 0;
    background: transparent;
    color:  #5e3701;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid #000;
    margin:10px 0;
    padding: 11px 28px;
    transition: all 0.4s linear;

}



.contact-info button:focus{
    outline: 0;
}

 .contact-input:focus{
    background: #5e3701;
}

.contact-input:focus::placeholder{
    color: #fff;
}

.contact-input:focus{
    color: #fff;
}

.contact-info button:hover{
    background: #5e3701;
    color: #fff;
    border-color: #5e3701;
}


/* _______________________Dalily Section_________________________ */
#daily-section{
    background:#d7d9d7;
}




.daily-post button{
    border: 0;
    background: transparent;
    color:  #5e3701;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid #000;
    margin:10px 0 25px 0;
    padding: 11px 28px;
    transition: all 0.4s linear;

}

.daily-post button:focus{
    outline: 0;
}


.daily-post button:hover{
    background: #5e3701;
    color: #fff;
    border-color: #5e3701;
}


.daily-img-container img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.daily-content{
    transition: all 0.1s ease-in-out;
}

.daily-content:hover{
    background: #fff;
    border-bottom: 2px solid #5e3701;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}


.daily-img{
    transition: all 0.2s ease-in-out;
}

.daily-content:hover .daily-img{
    transform: scale(0.8);
}

/* ---------Daily Content----------- */
.daily-content h4{
    padding: 15px;
    font-weight: 500;
}


.daily-content p{
    font-weight: 300;
    font-family: 'Raleway',sans-serif;
    line-height: 30px;
}


.content-admin{
    background: #fff;
    margin-top: 3px;
}

.bottom-admin{
    margin: 20px 0 5px 5px;
    color: #5e3701;
}

.bottom-admin p{
    display: inline-block;
}




/* _______________________Subscribe Section_________________________ */
#subscribe-section{
    width: 100%;
    background-image:
    linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.6)
    ) ,
    url(../img/newsletter-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
   object-fit: cover;
    /* background-attachment: fixed; */

    color: #fff;
}

.subscribe-content button{
    border: 0;
    background: transparent;
    color:  #5e3701;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid #000;
    margin:10px 0 25px 0;
    padding: 8px 26px;
    transition: all 0.4s linear;

}

.subscribe-content button:focus{
    outline: 0;
}


.subscribe-content button:hover{
    background: #5e3701;
    color: #fff;
    border-color: #5e3701;
}


.subscribe-form{
    width: 65%;
    margin:0 auto;
    position: relative;
}

.subscribe-input{
    width: 100%;
    padding: 20px 10px;
}

.subscribe-buttons{
    position: absolute;
    top: -1px;
    right: 10px;
}

.subscribe-input:focus{
    outline: 0;
}


.subscribe-content h2{
    font-size: 45px;
}


.subscribe-content p{
    font-size: 20px;
}


/* _______________________Footer Section_________________________ */
#footer p{
    font-size: 30px;
    color: #5e3701;
    font-weight: 700;
}

#footer p i{
    padding: 0 5px;
}


#footer h4{
    color: #5e3701;
    font-size: 23px;
    font-weight: 300;
}


#footer .outline{
    border-bottom: 2px solid #5e3701;
}


#footer .footer-link{
    border: 1px solid #5e3701;
    text-decoration: none;
    color: #5e3701;
    padding: 14px 18px;
    font-size: 18px;
    margin: 0 2px;

    transition: all 0.3s ease-in-out;
}


#footer .footer-link:hover{
    background: #5e3701;
    color: #fff;
}



/* _____________________________Modal Section____________________________ */
.show-modal{
    display: none;
}

.show-modal.active{
    display: block;
}

.modal-overlay{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;

    background: rgba(0,0,0,0.8);

    transition: all 0.4s ease-in-out;

}

.modal-container{
    width: 500px;
    /* height: 524px; */
    background: transparent;
    padding: 5px;

    margin: 0 auto;
    position: relative;

    transition: all 0.4s ease-in-out;
}


.modal-form{
    width: 100%;
    height: 100%;
    background:#fff;
    padding: 30px 30px;
    text-align: center;
    /* border-radius: 6px; */
}


.modal-form p:first-child{
    font-size: 30px;
    color: #5e3701;
    font-weight: 500;
}


.modal-form p:first-child i{
    padding: 0 5px;
}

.modal-form p:nth-child(2){
    font-size: 25px;
    color: #5e3701;
}


.modal-form-group{
    margin-bottom: 24px;
}


.modal-form .modal-input{
    width: 100%;
    padding: 12px;
    font-size: 20px;
}


.modal-input:focus{
    outline:0;
}


.modal-form .modal-form-group:nth-child(3) .form-group:first-child{
    display: flex;
    align-items: center;
}

.modal-form .modal-form-group:nth-child(3){
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.modal-form .modal-form-group:nth-child(3) label{
    font-size: 20px;
    color: #5e3701;
    padding: 0 8px;
}


.modal-form .modal-form-group:nth-child(3) a{
    text-decoration: none;
    font-size: 20px;
    color: #5e3701;
}

.modal-checkbox{
    width: 15px;
    height: 15px;
    padding: 15px;
}

.modal-button{
    width: 100%;
    padding: 10px;
    font-size: 22px;
    color: #5e3701;
    background: transparent;
    border: 1px solid #5e3701;

    transition: all 0.4s ease-in-out;
}


.modal-button:hover{
    background: #5e3701;
    color: #fff;
}


.create-acc{
    background: #f4f4f4;
    padding: 20px;
    margin-top: 20px;
}

.create-acc span{
    font-size: 20px;
    color: #5e3701;
}


.create-acc span a{
    text-decoration: none;
    color: #5e3701;
}


.close-btn{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 40px;
    margin-left: 92%;
}



.navbar ul.navbar-nav > li.active a{
    color: #fff;
    border-bottom: 1px solid #fff;
}



/* Start Animation */


/* For Hero Text Box */
.hero-text-box p{
    animation: herotextp 1s linear backwards;
}

@keyframes herotextp {
    0%{
        transform: translate(-100%);
        opacity: 0;
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}



.hero-text-box h3{
    animation: herotexth3 1.6s linear backwards;
}

@keyframes herotexth3 {
    0%{
        transform: translate(70%);
        opacity: 0;
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}


.hero-text-box button{
    animation: herotexthbutton 1.8s linear backwards;
}

@keyframes herotexthbutton {
    0%{
        transform: translate(-100%);
        opacity: 0;
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}
/* For Hero Text Box */



/* For About Section Ani */


.about-ani-one.active{
    animation:aboutani_one 1.5s linear backwards;
}

@keyframes aboutani_one {
    0%{
        transform: translate(-100%);
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}

.about-ani-two.active{
    animation:aboutani_two 1.5s linear backwards;
}

@keyframes aboutani_two {
    0%{
        transform: translate(100%);
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}










